*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    color: white;
    background-color: black;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.nav-header{
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    margin-right: auto;
}

.nav-img{
    max-width: 60px;
    margin: 5px;
    border-radius: 50%;
}

.nav-menu{
    font-size: 15px;
    font-weight: 600;
}

.navbar li{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.container-header{
    width: 50%;
}

.small-heading{
    text-decoration: underline;
    color: grey;
}

.page-img{
    height: 250px;
    max-width: 500px;
    margin: 20px;
}

.text{
    font-weight: 500;
    text-align: left;
}

footer{
    margin-top: 50px;
    height: 50px;
    width: 100%;
    text-align: center;
    color: black;
    bottom: 0;
}

.profile-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;

}

.profile-title{
    font-size: 20px ;
    margin: 5px;
    text-decoration: underline;
    color: gray;
}

.profile-information{
    text-align: left;
    margin: 5px;
}



.profile-info{
    text-align: left;
    padding: 5px;
}

.profile-img{
    
    margin: 10px;
    max-width: 350px;
    height: 250px;
    border-radius: 50%;
    
    
  
}

.profile-container p{
    font-size: 14px;
    font-weight: 600;
    font-style: bold;
}

