*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    color: white;
    background-color: black;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
}

.nav-header{
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    margin-right: auto;
}

.nav-img{
    max-width: 60px;
    margin: 5px;
    border-radius: 50%;
}

.nav-menu{
    font-size: 15px;
    font-weight: 600;
}

.navbar li{
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.container-header{
    width: 50%;
}

.small-heading{
    text-decoration: underline;
    color: grey;
}

.page-img{
    height: 250px;
    max-width: 500px;
    margin: 20px;
}

.text{
    font-weight: 500;
    text-align: left;
}

footer{
    margin-top: 50px;
    height: 50px;
    width: 100%;
    text-align: center;
    color: black;
    bottom: 0;
}

.profile-container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;

}

.profile-title{
    font-size: 20px ;
    margin: 5px;
    text-decoration: underline;
    color: gray;
}

.profile-information{
    text-align: left;
    margin: 5px;
}



.profile-info{
    text-align: left;
    padding: 5px;
}

.profile-img{
    
    margin: 10px;
    max-width: 350px;
    height: 250px;
    border-radius: 50%;
    
    
  
}

.profile-container p{
    font-size: 14px;
    font-weight: 600;
    font-style: bold;
}

.contact-forms{
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius:5px;
	background-color: white;
	border: solid black;
    height: 450px;
    width: 350px;
    border-radius: 15px;
    
}

.form-control{
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 80%;
}

.text-control{
    height: 150px;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 80%;
}

label{
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
}

.form-headers{
    display: flex;
    align-items: center;
    background: linear-gradient(360deg, rgba(224,224,235,1) 0%, rgba(219,229,231,0.9836309523809523) 50%, rgba(0,212,255,1) 100%);
    justify-content: center;
    height: 40px;
}

.forms-img{
    max-width: 30px;
    margin: 5px;
    border-radius: 50%;
}

